/* YOUR STYLES HERE */

body {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.menu-item {
    font-size: 14px;
    color: black;
    margin: 0px 10px;
    text-decoration: none;
}

.menu-item:hover {
    text-decoration: underline;
}

#profile-pic {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

#profile-pic:hover {
    box-shadow: 0px 0px 5px #c2c2c2;
}

#store-link {
    margin-right: auto;
}
#r-link {
    margin-left: auto;
}

#search {
    margin-top: 120px;
    text-align: center;
}

#main-logo {
    width: 272px;
}

#search-bar {
    height: 34px;
    font-size: 17px;
    border-radius: 17px;

    border: 1px solid #c2c2c2;
    width: 90%;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
}

#search-bar:hover,
#search-bar:focus {
    box-shadow: 0px 0px 5px #c2c2c2;
}

#search-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-button {
    margin: 8px;
    padding: 8px 15px;
    cursor: pointer;

    background-color: #f8f9fa;
    border: 1px solid #4b4b4b;
    border-radius: 4px;
    font-size: 14px;
}

.search-button:hover {
    box-shadow: 0px 0px 5px #c2c2c2;
}

h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
}
h2 {
    font-size: 16px;
    font-family: 'Times New Roman';
    color: white;
    text-align: center;
}

#control {
    padding: 5px 10px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
}

.control-item {
    content:" ";
  
    height: 2px;
    width: 130px;
   
    top: 50%;
    left: 0;
    

    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    object-position: center;

}

.control-item:hover {
    text-decoration: underline;
}

body {
    background-color: pink;
}

#beach-pic {
  

    width: 50%;
    height: 210px;
    width: 150px;
    
    object-position: bottom;

}

#busan-pic {
   
    width: 50%;   
    height: 210px;
    width: 150px;
    
    object-position: bottom;

}

#gangneung-pic {
    
   
    width: 50%;
    height: 210px;
    width: 150px;
   
    object-position: bottom;
   
}

#content {
    align-items: center;
   
}
#girl {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    text-align: center;
}

.girl-item {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin: 0px 10px;
    text-decoration: none;
}
#iceskating {
    
   
  
    height: 600px;
    width: 300px;
   
    object-position: center;
   
}

#jane-pic {

    width: 50%;
    height: 270px;
    width: 180px;
    
    object-position: center;
    
}
#education {
    padding: 5px 10px;
    display: flex;
    align-items: left;
}

.school {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin: 0px 10px;

}
.school:hover {
    text-decoration: underline;
}
.top {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin: 0px 10px;
    text-align: left;

}
.date {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    margin: 0px 10px;
}
.grade {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin: 0px 10px;
}
#cady {
    padding: 5px 10px;
    display: flex;
    align-items: left;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
}
.center {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin: 0px 10px;
    text-align: right;

}
#info {
    padding: 5px 10px;
    display: flex;
    text-align: right;
}

.pi {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    margin: 0px 10px;
    text-align: right;

}
#bday-pic {

    width: 50%;
    height: 160px;
    width: 270px;
    
    object-position: center;
    
}
#dog-pic {

    width: 50%;
    height: 250px;
    width: 250px;
    
    object-position: center;
    
}
#gorl {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    object-position: center;

}